<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudplus.oauth.yinyinoauth.project.client.mapper.ClientMapper">

    <resultMap type="Client" id="ClientResult">
        <id property="clientId" column="client_id"/>
        <result property="clientName" column="client_name"/>
        <result property="clientSecret" column="client_secret"/>
        <result property="scope" column="scope"/>
        <result property="clientImage" column="client_image"/>
        <result property="createTime" column="create_time"/>
        <result property="uri" column="uri"/>
        <result property="authorizedGrantType" column="authorized_grant_type"/>
    </resultMap>

    <sql id="selectClientVo">
        select tc.client_id, tc.client_name, tc.client_secret, tc.scope, tc.client_image, tc.uri, tc.authorized_grant_type, tc.create_time
        from test_client tc
    </sql>

    <select id="selectClient" resultMap="ClientResult">
        <include refid="selectClientVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                AND tc.client_id = #{clientId}
            </if>
            <if test="clientName != null and clientName != ''">
                AND tc.client_name = #{clientName}
            </if>
            <if test="scope != null and scope != ''">
                AND tc.scope = #{scope}
            </if>
        </where>
    </select>
</mapper>