<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body">
                <form class="form-horizontal" method="post" id="loginFrom" target="hidden">
                    <div class="form-group">
                        <label for="username" class="col-md-2 control-label">用户名</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="username" name="username" placeholder="用户名"> </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">密码</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="password" name="password" placeholder="密码"> </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label">验证码</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="verCode" name="verCode" placeholder="验证码"> </div>
                    </div>
                    <div class="form-group">
                        <img id="code" src="/oauth/captcha" width="130px" height="48px" onclick="refreshCode()"/>
                    </div>
                    <div class="form-group" style="display: none" id="noData">
                        <label id="noDataLabel" class="col-md-2 control-label">请输入用户名和密码</label>
                    </div>
                    <div class="form-group" style="display: none" id="codeErrorDiv">
                        <label id="codeErrorLabel" class="col-md-2 control-label">验证码错误</label>
                    </div>
                    <div class="form-group" style="display: none" id="errorDiv">
                        <label id="errorLabel" class="col-md-2 control-label">用户名或密码错误</label>
                    </div>
                </form>
                <button class="btn blue" onclick="commitFromToLogin()">点击登录</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"  crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script>
    var uuid;
    function commitFromToLogin() {
        $('#noData').css('display','none');
        $('#errorDiv').css('display','none');
        $('#codeErrorDiv').css('display','none');
        var username = $('#username').val();
        var password = $('#password').val();
        if (username.trim() == "") {
            $('#noData').css('display','block');
            $('#username').focus();
            return;
        }
        if (password.trim() == "") {
            $('#noData').css('display','block');
            $('#password').focus();
            return;
        }
        checkVerCode();
        debugger
        if ($('#codeErrorDiv').css('display') != "block") {
            $.ajax({
                type: "POST",
                async: false,
                url: "/oauth/login" ,
                data: $('#loginFrom').serialize(),
                success: function (result, status) {
                    window.location.href=result;
                },
                error : function(xhr) {
                    if (xhr.responseText == "password") {
                        $('#errorDiv').css('display','block');
                    }
                }
            });
        }
    }

    function refreshCode() {
        $('#code').attr('src', "/oauth/captcha");
    }

    function checkVerCode() {
        var verCode = $('#verCode').val();
        if (verCode.trim() == "") {
            $('#codeErrorDiv').css('display','block');
            return
        }
        $.ajax({
            type: "POST",
            async: false,
            url: "/oauth/checkVerCode" ,
            data:{verCode:verCode},
            success: function (result, status) {
                if (result == "1") {
                    $('#codeErrorDiv').css('display','block');
                }
            },
            error : function(xhr) {

            }
        });
    }

</script>
</body>
</html>